$stencil-flag
	display table
	width 100%

	&--image, &--body
		display table-cell
		vertical-align middle

		[data-flag-align='top'] &
			vertical-align top

		[data-flag-align='middle'] &
			vertical-align middle

		[data-flag-align='bottom'] &
			vertical-align bottom

	&--image
		margin-right 10px

	&[data-eq-state$='medium']--image
		margin-right 30px

	&--body
		width 100%
