.flag {
    display: table;
    width: 100%;
}

.flag__media,
.flag__body {
    display: table-cell;
    vertical-align: middle;

    .flag--top & {
        vertical-align: top;
    }

    .flag--bottom & {
        vertical-align: bottom;
    }
}

.flag__media {
    padding-right: 1em;

    img, picture, figure {
        display: block;
        max-width: none;
    }

    .flag--rev & {
        padding-right: 0;
        padding-left: 1em;
    }
}

.flag__body {
    width: 100%;
}
