.flag {
    --gutter: 1em;
    display: table;
    width: 100%;

    &__media,
    &__body {
      display: table-cell;
      vertical-align: middle;

      @nest .flag--top & {
        vertical-align: top;
      }

      @nest .flag--bottom & {
        vertical-align: bottom;
      }
    }

    &__media {
      padding-right: 1em;

      & img,
      & picture,
      & figure {
        display: block;
        max-width: none;
      }
    }

    @nest .flag--rev & {
      padding-right: 0;
      padding-left: var(--gutter);
    }

  &__body {
    width: 100%;
  }
}
